@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.mainbox {
    text-align: center;
}

.btn {
    font-family: 'Roboto', sans-serif;
    background-color: #e4e932;
    padding: 15px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}
